@font-face {
    font-family: 'techno'; /*a name to be used later*/
    src: url('./Neutronium.ttf'); /*URL to font*/
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Helvetica', sans-serif;
}

a {
  color: #3171C4;
  text-decoration: none;
}

.content-wrapper {
  width: 980px;
  margin: auto;
}

.add-cart-button {
  cursor: pointer;
  color: white;
  background-color: #3171C4;
}

/* NavBar */

.nav-bar {
  width: 100%;
  position: relative;
  background-color: #F9F9F9;
  border-bottom: 1px solid #bdbdbd;
  margin-bottom: 40px;
}

.nav-bar-contents {
  width: 1000px;
  margin: auto;
  position: relative;
  text-align: center;
}

.nav-bar .logo {
  display: inline-block;
}

.nav-bar .logo img {
  width: 30px;
  height: 30px;
  margin-top: 5px;
}

.nav-bar .title {
  display: inline-block;
  color: #3171C4;
  font-size: 30px;
  font-family: 'techno';
  position: relative;
  top: -3px;
}

.nav-bar .checkout {
  position: absolute;
  font-size: 20px;
  right: 42px;
  top: 5px;
  background-color: #3171C4;
  border-radius: 5px;
  padding: 5px;
}

.nav-bar .checkout a {
  color: white;
}

.nav-bar .user-info {
  position: absolute;
  right: 0px;
  top: 0px;
}

.nav-bar .user-info img {
  position: absolute;
  right: 0px;
  top: 5px;
  height: 30px;
}

.nav-bar .user-info .user img {
  width: 30px;
  border-radius: 5px;
}

/* ProductDesc */
.crumbs {
  padding: 10px;
  border: 1px solid #BDBDBD;
  border-radius: 10px;
  position: relative;
}

.crumbs .crumb {
  display: inline-block;
  margin-left: 5px;
}

.crumbs .divider {
  display: inline-block;
  color : #BDBDBD;
}

.product-desc {
  width: 1000px;
  margin: auto;
  position: relative;
}

.product-desc .product-desc-view {
  margin-top: 15px;
}

.product-desc .product-img {
  float: left;
  margin-right: 25px;
}

.product-desc .product-img img {
  height: 300px;
  width: 300px;
  margin-top: 15px;
}

.product-desc .product-desc-content {
  float: left;
  font-weight: bold;
}

.product-desc .add-cart-button {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #3171C4;
    color: white;
    text-align: center;
    width: 180px;
    font-size: 24px;
    padding: 10px;
    margin-top: 20px;
}

/*Category Bar*/
.category-dropdown {
  display: inline-block;
  position: relative;
}

.category-dropdown .dropdown-button{
  width: 100px;
  text-align: right;
  display: inline-block;
  border: 1px solid #dfdfdf;
  padding: 2px;
  cursor: pointer;
  color: #3171C4;
}

.category-dropdown .dropdown-button small{
  color: gray;
}

.category-dropdown .dropdown-list{
  position: absolute;
  display: inline-block;
  width: 100px;
  background-color: #fdfdfd;
  padding: 2px;
  cursor: pointer;
  left: 9px;
  top: 20px;
  border: 1px solid #dfdfdf;
  border-top: none;
}

.category-dropdown .dropdown-list div{
  margin-top: 3px;
  padding-top: 3px;
  border-top: 1px solid #DCDCDc;
}

/*Products List*/
.products-list {
  margin-left: -5px;
  margin-right: -5px;
  margin-top: 15px;
}

.products-list .sort-arrow {
  float: right;
  color: #666666;
  cursor: pointer;
  margin-bottom: 3px;
  margin-right: 8px;
}

.products-list .sort-arrow i {
  margin-left: 0.5em;
}

.product-card {
  border: 1px solid #BDBDBD;
  border-radius: 5px;
  padding: 5px;
  background-color: #F9F9F9;
  width: 225px;
  margin: 5px;
  float: left;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 1px 1px 1px #CCCCCC;
}

.product-card .add-cart-button {
  width: 100px;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
  display: inline-block;
}

.product-card .product-card-name {
  max-height: 2em;
  height: 2em;
  overflow: hidden;
}

.product-card .product-card-img img {
  height: 150px;
  width: 150px;
  margin-bottom: 5px;
}

.product-card .product-card-price {
  font-weight : bold;
  color: #666666;
  margin-top: 0.25em;
}
